.navbar-brand {
	padding: 10px 100px;
}

.navbar {
	min-height: 60;
	margin-bottom: 0;
}

.navbar-brand img {
	height: 40;
	padding-right: 20px;
}

.container-image {
	background-size: cover;
	width: 100%;
	height: 80%;
	background-image: url("../images/bgimperial.jpg");
	position: relative;
	background-position: 50%,50%
}

.container-image .text {
	color: white;
	width: 100%;
	left: 0;
	top: 40%;
	font-size: 56px;
	text-align: center;
	position: absolute;
	font-weight: 500;
}

.text .btn-lg {
	background-image: none;
	background-color: white;
	color: black;
	font-size: 12px;
	font-weight: 400;
	border-color: white;
	border-radius: 0;
	padding: 8px 20px;
	transition-duration: 0.4s;
}

.text .btn-lg:hover {
	background-color: transparent;
}

.navbar-nav {
	padding-right: 50px;
	font-size: 16px;
}

.navbar-nav li a {
	padding-top: 20px;
}


.profile-pic img {
	border-radius: 50%;
	width: 150px;
}

.personal-info {
	padding: 40px 25% 60px 25%;
}

.personal-info-text {
	padding-left: 5%;
	font-size: 16px;
}

.nav-timetable {
	padding-bottom: 10px;
}

.personal-info-text col-md-4 {
	margin-right: 20%;
}

.container-link {
	padding: 20px 25% 100px 25%;
}

.container-link h3 {
	padding-bottom: 20px;
}

.container-link .col-md-2  img {
	display: block;
	margin: auto;
}
.container-link .col-md-2  img:hover {
	opacity: 0.5;
}

.container-link .col-md-2 h4 {
	text-align: center;
	color: #003E74;
}

.task-notification {
	padding: 20px 25% 60px 25%;
}

.submission-notification {
	padding: 20px 20% 60px 20%;
}

.twitter-feed {
	padding: 20px 25% 60px 25%;
}

.timetable h3{
	text-align: center;
	padding-bottom: 30px;
}

.timetable .table-auto{
	background-color: #ccffff;
}

.timetable table{
	border-collapse: separate;
	border-spacing: 1px;
	font-size: 1.1vw;
}

.table-auto th{
	text-align: center;
}

.right-navigation{
    text-align: right;
}

.module-content {
	padding: 20px 15% 60px 15%;
}
.module-content h3{
	text-align: center;
	padding-bottom: 30px;
}

.module-content table {
	margin-left: auto;
	margin-right: auto;
}

.table-padding caption {
	font-size: 18px;
	padding-bottom: 20px;
	font-weight: 600;
}

.table-padding th {
	padding-right: 25px;
}

.table-padding td {
	padding-right: 25px;
}

.course-list h3 {
	text-align: center;
	padding-bottom: 30px;
}

.course-page {
	padding-bottom: 50px;
}

.course-container {
	padding: 20px 15% 60px 15%;
}

.INDIVIDUAL {
	background-color: #ccffcc;
	font-weight: bold;
}

.GROUP {
	background-color: #f0ccf0;
	font-weight: bold;
}

.NOSUBMISSION {
	background-color: #ffffff;
}

.SUBMISSION {
	background-color: #cdcdcd;
	font-weight: bold;
}

.EXAM {
	background-color: #ff9999;
}

.exercise-form {
	padding: 30px 20% 0 20%;
}

.exercise-form h3 {
	text-align: center;
	padding-bottom: 20px;
}

.grade-scheme {
	padding: 30px 20% 0 20%;
}

.grade-scheme h3 {
	text-align: center;
	padding-bottom: 20px;
}

.todayoverlay {
  position: absolute;
  background: rgba(135,206,250,0.5);
  display: block;
  pointer-events: none;
}
