{% load staticfiles %}
<html>
<head>
  <title>KATe</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'kateapp/css/style.css' %}">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img alt="Brand" src="{% static 'kateapp/images/ilogo.png' %}"> KATe
        </a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'personal_page' %}">Home</a></li>
                <li><a href="{% url 'index' %}">Timetable</a></li>
                <li><a href="{% url 'course_list' 'c1' %}">Module List</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid module-content">
  <h3>Module CO{{course.code}}: {{course.title}}</h3>
  <p>
    <table class="table-responsive table-padding">
      <tr>
        <th>Lecturer:</th>
        <td>{{course.lecturer}}</td>
      </tr>
      <tr>
        {% if terms|length == 1 %}
        <th>Term:</th>
        {% else %}
        <th>Terms:</th>
        {% endif %}
        {% for term in terms %}
        <td>{{term.name}}</td>
        {% endfor %}
      </tr>
    </table>
  </p>

  {% if teacher %}
    <a class="btn btn-primary btn-sm active" href="{% url 'course_management' course.code %}" role="button">Manage Course</a>
  {% endif %}

  <div class="fieldWrapper course-page">
      <table class="table table-striped table-responsive">
        <thead>
            <tr>
              <th>Resource Name</th>
              <th>URL</th>
              <th>Type</th>
            </tr>
          </thead>
      {% for rs in resource %}
      <p>
          {% if rs %}
          <tbody>
            {% for r in rs %}
            <tr>
              <td>{{ r.title }}</td>
              <td>
                {% if r.link %}
                <a href="{{ r.link }}">{{ r.link }}</a>
                {% else %}
                <a href="{{ MEDIA_URL }}{{ r.resource.file.url }}">{{ r.resource.filename }}</a>
                {% endif %}
              </td>
              <td>
                {{r.course_resource_type}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
          {% endif %}
      </p>
      {% endfor %}
      </table>
  </div>

  <p>
    <table class="table table-striped table-responsive">
      <caption><h2>Exercises</h2></caption>
      <thead>
        <tr>
          <th>Title</th>
          <th>Date Issued</th>
          <th>Date Due</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if teacher %}
          <tr>
            <td><a class="btn btn-primary btn-sm active" href="{% url 'exercise_setup' course.code next_number %}" role="button">Set New</a></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        {% endif %}
        {% for er in exercises_resources %}
        <tr>
          <td><a href="{% url 'submission' er.0.code.code er.0.number %}">{{er.0.title}}</a>
          <td>{{er.0.start_date|date:"D, d M Y"}}</td>
          <td>{{er.0.deadline|date:"D, d M Y h:iA"}}</td>
          {% if teacher %}
            <td><a class="btn btn-primary btn-sm active" href="{% url 'exercise_setup' course.code er.0.number %}" role="button">Edit</a></td>
          {% else %}
            {% if er.0.submission != NO %}
              <td><a class="btn btn-primary btn-sm active" href="{% url 'submission' course.code er.0.number %}" role="button">Submit</a></td>
            {% endif %}
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </p>

  </div>

</body>

</html>
