{% load staticfiles %}
<html>
<head>
  <title>KATe</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'kateapp/css/style.css' %}">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img alt="Brand" src="{% static 'kateapp/images/ilogo.png' %}"> KATe
        </a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'personal_page' %}">Home</a></li>
                <li><a href="{% url 'index' %}">Timetable</a></li>
              </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid module-content">
  <h3>Module CO{{course.code}}: {{course.title}}</h3>
  <p>
    <table class="table-responsive table-padding">
      <tr>
        <th>Lecturer:</th>
        <td>{{course.lecturer}}</td>
      </tr>
      <tr>
        <th>Year:</th>
        <td></td>
      </tr>
      <tr>
        {% if terms|length == 1 %}
        <th>Term:</th>
        {% else %}
        <th>Terms:</th>
        {% endif %}
        {% for term in terms %}
        <td>{{term.name}}</td>
        {% endfor %}
      </tr>
    </table>
  </p>

  <p>
    <table class="table-striped table-responsive table-padding">
      <thead>
        <tr>
          <th>Date</th>
          <th>Topic</th>
          <th>Notes</th>
          <th>Other Resources</th>
          <th>Panopto Recording</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>[A Date]</td>
          <td>[A Topic]</td>
          <td><a href="">[A document link]</a></td>
          <td><a href="">[A resource link]</a></td>
          <td><a href="">[A panopto link]</a></td>
        </tr>
      </tbody>
    </table>
  </p>

  </br>

  <p>
    <table class="table table-striped table-responsive">
      <caption>Exercises</caption>
      <thead>
        <tr>
          <th>Date Due</th>
          <th>Date Set</th>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if teacher %}
          <tr>
            <td><a class="btn btn-primary btn-sm active" href="{% url 'exercise_setup' course.code next_number %}" role="button">Set New</a></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        {% endif %}
        {% for er in exercises_resources %}
        <tr>
          <td>{{er.0.deadline|date:"D, d M Y h:iA"}}</td>
          <td>{{er.0.start_date|date:"D, d M Y h:iA"}}</td>
          <td><a href="{{ MEDIA_URL }}{{ er.1.0.file.url }}">{{er.0.title}}</a></td>
          {% if teacher %}
            <td><a class="btn btn-primary btn-sm active" href="{% url 'exercise_setup' course.code er.0.number %}" role="button">Edit</a></td>
          {% else %}
            {% if er.0.submission != NO %}
              <td><a class="btn btn-primary btn-sm active" href="{% url 'submission' course.code er.0.number %}" role="button">Submit</a></td>
            {% endif %}
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </p>

  </div>
</body>

</html>
