{% load staticfiles %}
<html>
    <head>
        <title>KATe</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'kateapp/css/style.css' %}">

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'index' %}">
                <img alt="Brand" src="{% static 'kateapp/images/ilogo.png' %}">
                KATe
              </a>
            </div>
            <div>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'personal_page' %}">Home</a></li>
                <li><a href="{% url 'index' %}">Timetable</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "2015:2020",
      // You can put more options here.

    });
  });
  </script>

    <div class ="container-fluid exercise-form">
      <h3>Exercise Setup<br>
      Module CO{{course.code}}: {{course.title}}
      </h3>
      <form action="{% url 'exercise_setup' code number%}" method="post" onsubmit="finalize()" enctype="multipart/form-data" class = "form-horizontal">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper form-group">
            {{ form.title.errors }}
            <label for="{{ form.title.id_for_label }}" class="col-sm-2 control-label">Title:</label>
            <div class="col-sm-8">
            {{ form.title }}
            </div>
        </div>
        <div class="fieldWrapper form-group">
            {{ form.start_date.errors }}
            <label for="{{ form.start_date.id_for_label }}" class="col-sm-2 control-label">Start Date:</label>
            <div class="col-sm-8">
            {{ form.start_date }}
            </div>
        </div>
        <div class="fieldWrapper form-group">
            {{ form.end_date.errors }}
            <label for="{{ form.end_date.id_for_label }}" class="col-sm-2 control-label">Deadline:</label>
            <div class="col-sm-8">
            {{ form.end_date }}
            </div>
        </div>
        <div class="fieldWrapper form-group">
            {{ form.exercise_type.errors }}
            <label for="{{ form.exercise_type.id_for_label }}" class="col-sm-2 control-label">Exercise Type:</label>
            <div class="col-sm-8">
            {{ form.exercise_type }}
            </div>
        </div>
        <div class="fieldWrapper form-group">
            {{ form.assessment.errors }}
            <label for="{{ form.assessment.id_for_label }}" class="col-sm-2 control-label">Assessment:</label>
            <div class="col-sm-8">
            {{ form.assessment }}
            </div>
        </div>
        <div class="fieldWrapper form-group">
            {{ form.submission.errors }}
            <label for="{{ form.submission.id_for_label }}" class="col-sm-2 control-label">Submission:</label>
            <div class="col-sm-8">
            {{ form.submission }}
            </div>
        </div>
        <div hidden id="file_name" class="fieldWrapper form-group">
            {{ form.file_name.errors }}
            <label for="{{ form.file_name.id_for_label }}" class="col-sm-2 control-label">File Name:</label>
            <div class="col-sm-8" id="file_name_list">
              {% for file in file_names %}
              <input class="form-control" id="file{{forloop.counter}}" type="text" value="{{file}}">
              {% endfor %}
              <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" onclick="add_name_field()">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
              </span>
              {{ form.file_name }}
            </div>
        </div>
         <div class="fieldWrapper form-group">
            {{ form.file.errors }}
            <label for="{{ form.r.id_for_label }}" class="col-sm-2 control-label">Main File Upload:</label>
            <div class="col-sm-8">
            {{ form.file }}
            </div>
        </div>
        <div class="fieldWrapper form-group">
           {{ form.resources.errors }}
           <label for="{{ form.r.id_for_label }}" class="col-sm-2 control-label">Other Resources:</label>
           <div class="col-sm-8">
           {{ form.resources }}
           </div>
       </div>
        <div id="buttons" class="col-sm-offset-8 col-sm-2">
        <input class="btn btn-primary" type="submit" value="Submit" name="submit"/>
        <input onclick="location.href='{% url 'course' code %}';" class="btn btn-secondary" type="button" value="Cancel" name="cancel"/>
      </form>
    </div>

    <script>
    exercise();
    electronic();
    var cancel = "{{ cancel }}";
    if (cancel == "Delete") {
      var button = document.createElement("input");
      button.className = "btn btn-secondary";
      button.type = "submit";
      button.value = "Delete"
      button.name = "delete"
      buttons.append(button);
    }
    var num = parseInt("{{ num_files }}") + 1;
    function add_name_field() {
      var input = document.createElement("input");
      input.className = "form-control";
      input.id = "file" + num;
      input.type = "text";
      file_name_list.append(input);
      num++;
    }

    function finalize() {
      if(id_submission.value=="{{types.ELECTRONIC}}"){
        var text = file1.value;
        for (i = 2; i < num; i++) {
          var field = document.getElementById("file" + i);
          if (field.value != "") {
            text += "@" + field.value;
          }
        }
        id_file_name.value = text;
      }
    }

    function electronic() {
        if(id_submission.value=="{{types.ELECTRONIC}}"){
          file_name.removeAttribute("hidden");
        }
        else {
          file_name.setAttribute("hidden", true);
        }
      }

      function exercise() {
        id_assessment.options[0].removeAttribute("disabled");
        id_assessment.options[1].removeAttribute("disabled");
        id_assessment.options[2].removeAttribute("disabled");
        
        id_submission.options[0].removeAttribute("disabled");
        id_submission.options[1].removeAttribute("disabled");
        id_submission.options[2].removeAttribute("disabled");
        if (id_exercise_type.value=="{{types.TUTORIAL}}") {
          id_assessment.options[0].selected =  true;
          id_assessment.options[1].setAttribute("disabled", true);
          id_assessment.options[2].setAttribute("disabled", true);

          id_submission.options[0].selected = true;
          id_submission.options[1].setAttribute("disabled", true);
          id_submission.options[2].setAttribute("disabled", true);
        }
        else if (id_exercise_type.value=="{{types.EXAM}}" 
                  ||id_exercise_type.value=="{{types.TEST}}") {
          id_assessment.options[1].selected = true;
          id_assessment.options[0].setAttribute("disabled", true);
          id_assessment.options[2].setAttribute("disabled", true);

          if (id_exercise_type.value=="{{types.EXAM}}") {
            id_submission.options[0].selected = true;
            id_submission.options[1].setAttribute("disabled", true);
            id_submission.options[2].setAttribute("disabled", true);
          }
          else {
            id_submission.options[1].selected = id_submission.options[0].selected ? true : id_submission.options[1].selected;
            id_submission.options[0].setAttribute("disabled", true);
          }
        }
        else if (id_exercise_type.value=="{{types.REPORT}}" 
                  ||id_exercise_type.value=="{{types.PROJECT}}") {
          id_assessment.options[1].selected = id_assessment.options[0].selected ? true : id_assessment.options[1].selected;
          id_assessment.options[0].setAttribute("disabled", true);

          id_submission.options[1].selected = id_submission.options[0].selected ? true : id_submission.options[1].selected;
          id_submission.options[0].setAttribute("disabled", true);
        }
      }
    </script>



    </body>
</html>
