{% load staticfiles %}
<html>
    <head>
        <title>KATe</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'kateapp/css/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'index' %}">
                <img alt="Brand" src="{% static 'kateapp/images/ilogo.png' %}">
                KATe
              </a>
            </div>
            <div>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'personal_page' %}">Home</a></li>
                <li><a href="{% url 'timetable' 1 person.student_letter_yr person.login %}">Timetable</a></li>
                <li><a href="{% url 'course_list' person.student_letter_yr %}">Module List</a></li>
              </ul>
            </div>
          </div>
        </nav>

          <div class="container-fluid personal-info">
            <div class="row">
             <div class="col-md-4 profile-pic">
                <img alt="Profile Picture" src="{% static 'kateapp/images/ppdefault.jpg' %}">
             </div>
             <div class="col-md-8 personal-info-text">
                <div class = "row">
                    {{person.firstname}}
                    {{person.lastname}}
                </div>
                <div class = "row">
                    <div class = "col-md-4">
                    Login: {{person.login}}
                    </div>
                    <div class = "col-md-4">
                    CID: {{person.cid}}
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-4">
                    Status: {{person.status}}
                    </div>
                    <div class = "col-md-4">
                    Department: {{person.department}}
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-8">
                    Category: {{person.student_letter_yr}}
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-8">
                    Email: {{person.email}}
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-8">
                    Personal Tutor: {{person.tutor}}
                    </div>
                </div>
             </div>
            </div>
          </div>

          <div class="container-fluid container-link">
            <h3>Quick Links</h3>
            <div class ="row">
              <div class ="col-md-2">
                <h4>Grading Scheme</h4>
              </div>
              <div class ="col-md-2">
                <h4>Late Submission & Extension</h4>
              </div>
              <div class ="col-md-2">
                <h4>Project Portal</h4>
              </div>
              <div class ="col-md-2">
                <h4>Individual Record</h4>
              </div>
              <div class ="col-md-2">
                <h4>Email and Module</h4>
              </div>
              <div class ="col-md-2">
                <h4>Teaching Database</h4>
              </div>
            </div>
            <div class ="row">
              <div class ="col-md-2">
                <a href="{% url 'grading_scheme' %}">
                <img src="{% static 'kateapp/images/icon/png/grades.png' %}">
                </a>
              </div>
              <div class ="col-md-2">
                <a href="#">
                <img src="{% static 'kateapp/images/icon/png/alarm-clock.png' %}">
                </a>
              </div>
              <div class ="col-md-2">
                <a href="https://project-portal.doc.ic.ac.uk/login">
                <img src="{% static 'kateapp/images/icon/png/screen.png' %}">
                </a>
              </div>
              <div class ="col-md-2">
                <a href="#">
                <img src="{% static 'kateapp/images/icon/png/folder.png' %}">
                </a>
              </div>
              <div class ="col-md-2">
                <a href="#">
                <img src="{% static 'kateapp/images/icon/png/mail.png' %}">
                </a>
              </div>
              <div class ="col-md-2">
                <a href="https://teachdb.doc.ic.ac.uk/db/">
                <img src="{% static 'kateapp/images/icon/png/database.png' %}">
                </a>
              </div>
            </div>
          </div>

          <div class="container-fluid task-notification">
            <h3>Task Notification</h3>
          </div>

          <div class="container-fluid twitter-feed">
            <h3>Class Twitter Feed</h3>
            <a class="twitter-timeline" data-width="100%" data-height="500" data-theme="light" href="https://twitter.com/DoCThirdYear">Tweets by DoCThirdYear</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>


    </body>
</html>
