{% load staticfiles %}
<html>
    <head>
        <title>KATe</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'kateapp/css/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'index' %}">
                <img alt="Brand" src="{% static 'kateapp/images/ilogo.png' %}">
                KATe
              </a>
            </div>
            <div>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
                <li><a href="#">Links</a></li>
              </ul>
            </div>
          </div>
        </nav>

          <div class="container-fluid personal-info">
            <div class="row">
             <div class="col-md-4 profile-pic">
                <img alt="Profile Picture" src="{% static 'kateapp/images/ppdefault.jpg' %}"">
             </div>
             <div class="col-md-8 personal-info-text">
                <div class = "row">
                    {{person.firstname}}
                    {{person.lastname}}
                </div>
                <div class = "row">
                    <div class = "col-md-4">
                    Login: {{person.login}}
                    </div>
                    <div class = "col-md-4">
                    CID: {{person.cid}}
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-4">
                    Status: {{person.status}}
                    </div>
                    <div class = "col-md-4">
                    Department: {{person.department}}
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-8">
                    Category: {{person.student_letter_yr}}
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-8">
                    Email: {{person.email}}
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-8">
                    Personal Tutor: {{person.tutor}}
                    </div>
                </div>
             </div>
            </div>
          </div>

          <div class="container-fluid personal-info">
            <h3>Quick Links</h3>
          </div>


    </body>
</html>
