{% load staticfiles %}
<html>
    <head>
        <title>KATe</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'kateapp/css/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'personal_page' %}">
                <img alt="Brand" src="{% static 'kateapp/images/ilogo.png' %}">
                KATe
              </a>
            </div>
            <div>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'personal_page' %}">Home</a></li>
                <li><a href="{% url 'index' %}">Timetable</a></li>
                <li><a href="{% url 'index' %}">Module List</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <div class = "container-fluid timetable">
          <div class = "table-header">
            <h3>Timetable<br>
            Computing {{person.student_letter_yr}}<br>
            Term</h3>
          </div>
        

            <table border=0 class="table-striped table-responsive">
                <tr>
                    <th colspan="4"></th>{% for month in months %}
                    <th bgcolor="white" colspan={{ month.1 }}>{{ month.0 }}</th>{% endfor %}
                </tr>
                <tr>
                    <th colspan="4"></th>{% for week in weeks %}
                    <th bgcolor="white" colspan={{ week }}>Week {{ forloop.counter }}</th>{% endfor %}
                </tr>
                <tr>
                    <th colspan="4"></th>{% for day in days %}
                    {% if day.1 %}<th bgcolor="white">{{ day.0 }}</th>{% else %}<th></th>{% endif %}{% endfor %}
                </tr>
            </table>
        </div>
    </body>
</html>
