{% load staticfiles %}
<html>
    <head>
        <title>KATe</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'kateapp/css/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'personal_page' %}">
                <img alt="Brand" src="{% static 'kateapp/images/ilogo.png' %}">
                KATe
              </a>
            </div>
            <div>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'personal_page' %}">Home</a></li>
                <li><a href="{% url 'timetable' period_now.period person.student_letter_yr person.login %}">Timetable</a></li>
                <li><a href="{% url 'course_list' person.student_letter_yr %}">Module List</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <div class = "container-fluid timetable">
            <div class = "table-header">
                <h3>Timetable<br>
                Computing {{ person.student_letter_yr }}<br>
                {{ period.name }}</h3>
            </div>

            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Select Class
              <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                {% for class in classes %}<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'timetable' period_id class.letter_yr person.login %}">{{ class.letter_yr }}</a></li>{% endfor %}
              </ul>
            </div>

            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Select Period
              <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                {% for p in periods %}<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'timetable' p.period letter_yr person.login %}">{{ p.name }}</a></li>{% endfor %}
              </ul>
            </div>

            <div class = "col-md-6">
            <form action="{% if period.period|add:"-2" < 1 %}#{% else %}{% url 'timetable' period.period|add:"-2" person.student_letter_yr person.login %}{% endif %}">
                <input class="btn btn-default" type="submit" value="-2 period" {% if period.period|add:"-2" < 1 %}disabled=true{% endif %}>
            </form>
            <form action="{% if period.period|add:"-1" < 1 %}#{% else %}{% url 'timetable' period.period|add:"-1" person.student_letter_yr person.login %}{% endif %}">
                <input class="btn btn-default" type="submit" value="-1 period" {% if period.period|add:"-1" < 1 %}disabled=true{% endif %}>
            </form>
            </div>

            <div class = "col-md-6 right-navigation">
            <form action="{% if period.period|add:"1" > 7 %}#{% else %}{% url 'timetable' period.period|add:"1" person.student_letter_yr person.login %}{% endif %}">
                <input class="btn btn-default" type="submit" value="+1 period" {% if period.period|add:"1" > 7 %}disabled=true{% endif %}>
            </form>
            <form action="{% if period.period|add:"2" > 7 %}#{% else %}{% url 'timetable' period.period|add:"2" person.student_letter_yr person.login %}{% endif %}">
                <input class="btn btn-default" type="submit" value="+2 period" {% if period.period|add:"2" > 7 %}disabled=true{% endif %}>
            </form>
            </div>


            <table border=0 class="table-responsive table-auto" id="timetable">
                <tr>
                    <th></th>{% for month in months %}
                    <th bgcolor="white" colspan={{ month.1 }}>{{ month.0 }}</th>{% endfor %}
                </tr>
                <tr>
                    <th></th>{% for week in weeks %}
                    <th bgcolor="white" colspan={{ week }}>Week {{ forloop.counter }}</th>{% endfor %}
                </tr>
                <tr>
                    <th></th>{% for day in days %}
                    {% if day.1 %}<th bgcolor="white"{% if day.2 %} id="tcell"{% endif %}>{% if day.2 %}<span class="todayoverlay" id="today"></span>{% endif %}{{ day.0 }}</th>{% else %}<th{% if day.2 %} id="tcell"{% endif %}>{% if day.2 %}<span class="todayoverlay" id="today"></span>{% endif %}</th>{% endif %}{% endfor %}
                </tr>
                <tr>
                    <th><b><font color="blue">Deadlines</font></b></th>{% for s in subscribed %}
                    {% if s.0 %}{% if s.1 == 0 %}<th bgcolor="white"></th>{% else %}<th bgcolor="#dddddd"><font color="blue">{{ s.1 }}</font></th>{% endif %}{% else %}<th></th>{% endif %}{% endfor %}
                </tr>
                <tr>
                    <th><b><font color="red">Tests</font></b></th>{% for s in subscribed %}
                    {% if s.0 %}{% if s.2 == 0 %}<th bgcolor="white"></th>{% else %}<th bgcolor="#dddddd"><font color="red">{{ s.2 }}</font></th>{% endif %}{% else %}<th></th>{% endif %}{% endfor %}
                </tr>
                {% for course, rows in courses %}{% for row in rows %}
                <tr>{% if forloop.first %}
                    <td rowspan="{{ rows|length }}" bgcolor="white">
                        <b><a href="{% url 'course' course.code %}">{{ course.title }}</a></b><br>
                    </td>{% endif %}{% for exercise, days in row %}
                    {% if exercise is None %}<td colspan="{{ days }}"></td>{% else %}
                    <td class="{% if exercise.assessment != "NO" %}{{ exercise.assessment }}{% elif exercise.submission != "NO" %}SUBMISSION{% elif exercise.exercise_type != "EXAM" %}NOSUBMISSION{% else %}EXAM{% endif %}" colspan="{{ days }}">
                        <b><a href="{% url 'submission' course.code exercise.number %}">{{ exercise.title }}</a></b><br>
                    </td>{% endif %}{% endfor %}
                </tr>
                {% endfor %}{% endfor %}
            </table>
        </div>
        <script>
          var height = document.getElementById("timetable").offsetHeight - 65;
          var width = document.getElementById("tcell").offsetWidth;
          if (width == 0) {
              width = 1;
          }
          document.getElementById("today").setAttribute("style", "height: "+height+"px; width: "+width+"px;");
        </script>
    </body>
</html>
